*{
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', 'VERDANA', 'ARIAL', 'HELVETICA';
    text-decoration: none;
    color: #000;
    box-sizing: border-box;

}
.body{
    height: 100vh;
}
.nav_background{
        background: #700080;
}
.header{
    background: #df69fa;
}

/*.header{
    background: linear-gradient(#AF3CF5,#801978);
}
.header-sortiment{
    background: linear-gradient(to right, #AF3CF5, #fff, #801978);
}*/

.backgroud-unten{
        background: #700080;
        padding-left: 25px;
        padding-right: 25px;
}





@media only screen and (min-width: 0px){

    
.nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links{
  display: inline;
  float: right;
  font-size: 18px;
}
.nav a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #fff;
}
.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:950px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #700080;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

    .btn{
        display: inline-block;
        background: #AF3CF5;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.5s;
        }
    .btn:hover{
        background: #801978;
    }
    .popup{
        background-color: #AF3CF5;
        width: 300px;
        padding: 30px 40px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 10px;
    }
    .popup div{
        display: block;
        margin: 0 0 -45px 220px;
        background-color: transparent;
        font-size: 30px;
        color: #c5c5c5;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .popup p{
        font-size: 14px;
        text-align: justify;
        margin: 20px 0;
    }
    
    
    
    .br-950px{
        display: none;
    }
    .col-2{
        flex-basis:50%;
        min-width: 300px;
    }
    .col-2 img{
        max-width: 100%;
        padding: 0px 0;
    }
    .col-2 h1{
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }
    .font{
        padding-bottom: 25px;
    }
    .home-text{
        align-content: center;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 100px;
    }
    .img-info{
        width: 100%;
    }
    .img-info h1{
        font-size: 50px;
        line-height: 45px;
    }
    img-info h3{
        font-size: 24px;
        line-height: 30px;
        margin: 15px;
        justify-content: center;
    }
    img-info p{
        font-size: 12px;
        line-height: 20px;
        margin: 10px;
        justify-content: center;
    }
    .img-laden{
        display: block;
        margin: auto;
        padding-bottom: 50px;
        width: 90%;
        height: 100%;
    }
    .text-unten{
        color: #fff;
    }
    .ueber-uns-text{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .col-5{
        flex-basis: 30%;
        min-width: 250px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .col-5 img{
        width: 100%;
    }
    .logo{
        display: none;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .small-container{
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    .categories{
        margin: 0px 0;
    }
    .title2{
        text-align: center;
        margin: 1px auto 0;
        line-height: 60px;
        color: #000;
    }
    .col-3{
        flex-basis: 30%;
        min-width: 100%;
        margin-bottom: 30px;
    }
    .col-3 img{
        width: 100%;
    }
    .font{
        padding-bottom: 25px;
    }
    .title{
        text-align: center;
        margin: 20px auto 0;
        line-height: 60px;
        color: #000;
    }
    .DHL-u-GLS{
        color: #fff;
    }
    .sortiment-text{
        text-align-last: center;
        padding-left: 10px;
        padding-right: 
    }
    .oeffnungszeiten{
        text-align-last: center;
    }
    .Kontakt{
        text-align: center;
        padding-top: 50px;
    }
    .col-6{
        margin: inherit;
        min-width: 10rem;
        padding-bottom: 30px;
    }
    
    
    
    
    
    

@media only screen and (min-width: 950px){

    
    .img-laden{
        margin: 25px;
        padding-top: 15px;
        padding-bottom: 55px;
        width: 75%;
        height: 75%;
    }
    .img-info{
        width: 50%%;
    }
    .img-info h1{
        font-size: 50px;
        line-height: 45px;
        margin: 25px 0;
    }
    img-info h3{
        font-size: 24px;
        line-height: 30px;
        margin: 15px;
    }
    img-info p{
        font-size: 12px;
        line-height: 20px;
        margin: 10px;
    }
    .home-text{
        float: left;
        padding-top: 100px;
    }
    .img-laden2{
        display: flex;
        justify-content: center;
    }
    .br-950px{
        display: block;
    }
    .col-3{
        min-width: 250px;
    }


    
    
    
    
}